body{
    background:rgb(139, 8, 8);
    display: flex;
    flex-direction: row-reverse;
}
.cool{
    background-color:rgb(139, 8, 8); 
    display: flex;
    margin-left: 50px;
    padding-right: 300px;
    color: whitesmoke;
}
button{
    border-radius: 50px;
    background-color: whitesmoke;
    font-family: monospace;
}
h1{
    font-family: monospace;
    color: whitesmoke;
}
label{
    font-family: monospace;
}
.reg{
    width: 900px;
    height: 900px;
    margin-left: 50px;
    color: whitesmoke;
}
.Ptag{
    color:whitesmoke;
    flex-direction: row;
    font-family: monospace;
    font-size: 50px;
}
.u:hover{
    color: lightgray;
    background-color: gray;
}
.y:hover{
    color:gray;
    background-color: lightgray;
}
